<div class = 'form'>
    <form name="carForm" #carForm="ngForm">
    <div *ngIf="successMessage" [ngClass] = "'success'"> {{car.make}} {{car.model}} Added. </div>
    <div *ngIf="errorMessage" [ngClass] = "'error'"> {{errorMessage}} </div>
    <h1>{{title}}</h1>
    Make: <input type='text' [(ngModel)]='car.make' name="make" required minlength="1" #make="ngModel"/><br/>
        <div *ngIf="make.errors && (make.dirty || make.touched)" class="alert alert-danger">
            <div [hidden]="!make.errors.required">
                Required!            </div>
        </div>
    Model: <input type='text' [(ngModel)]='car.model' required minlength="1" #model="ngModel" name="model"/><br/>
        <div *ngIf="model.errors && (model.dirty || model.touched)" class="alert alert-danger">
            <div [hidden]="!model.errors.required">
                Required!            </div>
        </div>
    Year of Buying: <input type='text' [(ngModel)]='car.yearOfBuying' name="yearOfBuying" required minlength="1" #yearOfBuying="ngModel"/><br/>
        <div *ngIf="yearOfBuying.errors && (yearOfBuying.dirty || yearOfBuying.touched)" class="alert alert-danger">
            <div [hidden]="!yearOfBuying.errors.required">
                Required!            </div>
        </div>
    Distance Travelled: <input type='number' [(ngModel)]='car.distanceTravelled' name="distanceTravelled" required minlength="1" #distanceTravelled="ngModel"/><br/>
        <div *ngIf="distanceTravelled.errors && (distanceTravelled.dirty || distanceTravelled.touched)" class="alert alert-danger">
            <div [hidden]="!distanceTravelled.errors.required">
                Required!            </div>
        </div>
    Base Selling Price: <input type='number' [(ngModel)]='car.baseSellingPrice' name="baseSellingPrice" required minlength="1" #baseSellingPrice="ngModel"/><br/>
        <div *ngIf="baseSellingPrice.errors && (baseSellingPrice.dirty || baseSellingPrice.touched)" class="alert alert-danger">
            <div [hidden]="!model.errors.required">
                Required!            </div>
        </div>
    <input type='button' value='Add' (click)='addCar();' [disabled]="!carForm.form.valid" />

    </form>
</div>