<div>
    <div class="topnav" id="myTopnav">
        <button (click)="home();"><h1>BAP Bidders</h1></button>
        <input class="button" type="button" value="Register User" (click)="register();" />
        <input class="button" type="button" value="Add Your Car" (click)="addCar();" />
        <input class="button" type="button" value="Search Car" (click)="search();" />
        <input class="button" type="button" value="Sold Cars" (click)="show();" />
    </div>
    <router-outlet></router-outlet>



</div>