<div id="section-left">
    <h1 class="heading">{{car.make}} {{car.model}}</h1>

        <table>
        <tr>
            <td class="title">Make:</td><td class="value">{{car.make}}</td>
            </tr>
            <tr><td class="title">Model:</td> <td class="value">{{car.model}} </td></tr>
            <tr><td class="title">Year Of Buying:</td><td class="value">{{car.yearOfBuying}}</td></tr>
                	<tr><td class="title">Distance Travelled:</td><td class="value">{{car.distanceTravelled}}</td></tr>
                	<tr><td class="title">Base Selling Price:</td><td class="value">{{car.baseSellingPrice}}</td></tr>
            <tr><td class="title">Remaining Days of Bidding:</td><td class="value">{{remainingDaysOfBidding}}</td></tr>
    </table>
    <hr>
    <h3 class="line" *ngIf="!bid"> Be the first one to bid</h3>
    <h3 class="line" *ngIf="bid">Highest Bid for this car is: {{bid.biddingPrice}}</h3>
</div>

<div id="section-right">
    <img width="500" height="300" [src]="imageUrl">
</div>
<div id="section-clear"></div>
<br>
<br>
<div align="center">
    <input type="button" *ngIf="bid" name="Show All Bids" value="Show All Bids"(click)="allBids();">
    <input type="button" name="Make Bid" value="Make Bid"(click)="makeBid();">
</div>