<div class="search">
	<h1 class="heading">Search Cars:</h1><br/>
	    <span class = "styled-select slate">
	    <select name="searchField" [(ngModel)]="searchField" (ngModelChange)="getAvailableOptions(searchField)">
	      <option value=''>--Select--</option>
	      <option value='make'>Make</option>
	      <option value='model'>Model</option>
	    </select>
	</span>
	<span></span>
	<span class = "styled-select slate">
	<select name="searchFieldValue" [(ngModel)]="searchFieldValue">
		<option value=''>--Select--</option>
		      <option *ngFor="let option of options" value = {{option}}>{{option}}</option>
	</select>
	</span>
	<input type='button' value='Search' (click)='searchCars();' />
	<hr>
	<table class="gridtable">

		<tr *ngIf="cars">
			<th>Name</th><th>Year</th><th>Distance Travelled</th><th>Base Price</th><th>Link</th>
		</tr>
		<tr>{{noOptions}}</tr>

		<tr *ngFor="let car of cars">
			<td>{{car.make}} {{car.model}}</td>
			<td>{{car.yearOfBuying}}</td>
			<td>{{car.distanceTravelled}}</td>
			<td>{{car.baseSellingPrice}}</td>
			<td><a [routerLink]="['/carDetails', car.carId]" >Show More</a></td>
		</tr>
	</table>
</div>
