.back{
    background-color: #cccccc;
    width: 100%;
    height:100%;
}
.homeImages{
    float: left;
    padding-left: 35px;
    padding-top: 25px;
    padding-right: 30px;
    position: relative;
}
