.styled-select {
    height: 29px;
    overflow: hidden;
    width: 240px;
}

.styled-select.slate {
    height: 34px;
    width: 240px;
}

.styled-select.slate select {
    border: 1px solid #ccc;
    font-size: 16px;
    height: 34px;
    width: 268px;
}

input[type=button] {
    font-size: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}