@import "common.styles.css";

table.gridtable {
    width: 80%;
    margin: auto;
    /*font-family: verdana,arial,sans-serif;*/
    font-size:18px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}
table.gridtable th {
    color: forestgreen;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #f2f2f2;
}
table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}